:root {
  --color: #000000;
  --background: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  outline: none;

  font-family: Arial, Helvetica, sans-serif;
}

#text-description {
  position: fixed;
  left: 10px;
  top: 20px;
}

#text-input {
  position: fixed;
  left: 10px;
  top: 45px;
  width: 200px;
  height: 40px;
  padding: 0 5px;
  border: 1px solid var(--color);
  background-color: var(--background);
  border-radius: 20px;
}

#epsilon-description {
  position: fixed;
  left: 230px;
  top: 20px;
}
#epsilon-input {
  position: fixed;
  left: 230px;
  top: 45px;
  width: 60px;
  height: 40px;
  padding: 0 5px;
  border: 1px solid var(--color);
  background-color: var(--background);
  border-radius: 20px;
  cursor: pointer;
}
#reset-input {
  position: fixed;
  left: 300px;
  top: 45px;
  width: 100px;
  height: 40px;
  padding: 0 5px;
  border: 1px solid var(--color);
  background-color: var(--background);
  border-radius: 20px;
  cursor: pointer;
}
#reset-input:hover {
  color: var(--background);
  background: var(--color);
}
